<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzw.mapper.PersonMapper">
    <!-- 声明开启二级缓存 二级缓存里的Person类的信息放入硬盘中而不是内存 -->
    <cache/>

	<select id="queryPersonById" resultType="com.mzw.model.Person" parameterType="int" useCache="false">
	<!-- 单独禁用此select的二级缓存 -->
	 select * from person where id = #{id}  
    </select> 
  
</mapper>